/*
.input-icons i { 
    position: absolute; 
} 
  
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 
  
.icon { 
    padding: 10px; 
    min-width: 40px; 
} 
  
.input-field { 
    width: 100%; 
    padding: 10px; 
    text-align: left; 
} 
*/